# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

ModuleNotFoundError: No module named 'api_keys'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
df = pd.read_csv('../clean_city_data.csv')
df

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed
0,Punta Arenas,75,CL,1600809771,57,-53.15,-70.92,48.20,16.11
1,Los Llanos de Aridane,75,ES,1600809914,83,28.66,-17.92,75.20,3.36
2,Lebu,43,CL,1600809774,73,-37.62,-73.65,51.94,18.43
3,Bluff,51,NZ,1600809805,87,-46.60,168.33,54.00,7.00
4,Ushuaia,75,AR,1600809772,74,-54.80,-68.30,44.60,21.92
...,...,...,...,...,...,...,...,...,...
561,Iracoubo,32,GF,1600810077,77,5.48,-53.20,81.79,15.70
562,Jódar,100,ES,1600810077,45,37.84,-3.35,75.99,3.04
563,Balabac,36,PH,1600810077,79,7.99,117.06,82.04,8.37
564,Kirakira,33,SB,1600810078,77,-10.45,161.92,81.43,7.23
565,Pemberton,75,CA,1600810078,67,50.32,-122.80,60.80,5.82

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure